@mixin button-theme($primary: $primary, $secondary: $secondary) {
	border: 3px solid $primary;
	background-color: $primary;
	color: $secondary;
}

@mixin font-style($color, $size, $weight) {
	color: $color;
	font-size: $size;
	font-weight: $weight;
}

%button {
	font-size: 1rem;
	font-weight: 700;
	width: fit-content;
	height: fit-content;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
}

%button-hover {
	cursor: pointer;
	filter: brightness(115%);
}

%secondary-large-font {
	color: $secondary;
	font-size: larger;
	font-weight: 700;
}

%secondary-medium-font {
	color: $secondary;
	font-size: medium;
	font-weight: 500;
}

%secondary-small-font {
	color: $secondary;
	font-size: small;
	font-weight: 500;
}
